#############################################################################
## ROLES.

role :server, 'localhost'
#role :server, '設定したいサーバのFQDN or IP Address'

set :user, 'ec2-user'
#set :user, 'root'

set :sudo_password, ''
default_run_options[:pty] = true

ssh_options[:keys] = %w(/home/ec2-user/.ssh/default-AWS-US-East.pem)
#ssh_options[:keys] = %w(SSH の秘密鍵の指定)

ssh_options[:auth_methods] = %w(publickey)

set :use_sudo, true


##########################################################################
## Utilities.
def unindent(s)
  return s.gsub(/^\s+/, '')
end

# ファイルが存在しているか否かの確認
def remote_file_exists?(full_path)
  'true' ==  capture("if [ -e #{full_path} ]; then echo 'true'; fi").strip
end

# ファイルの内容に特定の文字列が含まれているか否かの確認
def remote_file_include?(full_path,words)
        return capture("cat #{full_path}").include?("#{words}")
end

# RPM パッケージのインストール状況確認 ( インストールされていない場合 true を返す )
def package_not_install?(package)
  return capture("rpm -ql #{package} || :").include?("is not installed")
end

# Control + C で中断した際にバックトレースの出力させない
Signal.trap(:INT) do
  abort "\n[cap] Inturrupted..."
end
